.button {
    background-color: white;
    outline: none;
    border: thin solid purple;
    border-radius: 4px;
    color: purple;
    font-weight: bold;
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
        color: white;
        background-color: purple;
    }

    &:active {
        background-color: rgb(44, 0, 44);
    }
}